/* Style général de la page */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 20px;
}

/* Styles des sections */
section {
    background-color: #fff;
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px #888888;
}

/* Styles des titres */
h1, h2, h3 {
    color: #333;
    text-align: center; /* Centrer les titres horizontalement */
    padding: 10px; /* Ajouter de l'espace autour des titres */
    background-color: #808080; /* Fond gris pour les titres */
    color: #fff; /* Texte en blanc */
    border-radius: 5px;
}
h3 {
    background-color: #DCDBDB
}

/* Style des listes à puces */
ul {
    list-style-type: disc;
    margin-left: 20px; /* Décalage des puces pour plus de lisibilité */
}

/* Style du pied de page */
footer {
    text-align: center;
    margin-top: 20px;
    color: #888;
}

/* Style des liens */
a {
    color: #007BFF;
    text-decoration: none;
}

/* Style des liens au survol */
a:hover {
    text-decoration: underline;
}

/* Style de l'image */
img {
    max-width: 100px;
    height: auto;
    display: block; /* Centrer l'image horizontalement */
    margin: 0 auto;
}
